[Unit]
Description=Server Monitoring Bot
After=network.target



[Service]
Type=simple
ExecStart=/path/to/your/script/run.sh
Restart=always
User=your_user_name

[Install]
WantedBy=multi-user.target
